.header {
    margin: 10px;
}

h1 {
    font-size: 20px;
    display: inline;
    padding: 5px;
}

.body {
    padding-bottom: 30px;
    overflow-y: auto;
}

.footer {
    margin: 10px;
}

.obscureMove {
    background-image: url(/img/noise.png);
    background-repeat: repeat;
}
