.header {
    display: block;
    position: fixed;
    top: 0px;
    height: 30px;
    width: 100%;
    background-color: white;
}

h1 {
    font-size: 20px;
    display: inline;
    padding: 5px;
}

.body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
}
